@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: #111;
  background-color: #fdfdfd;
}
body {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
a,
a:focus,
a:hover {
  color: #111;
  text-decoration: none;
}
::selection {
  background: #111;
  color: #fff;
}
h3 {
  word-wrap: break-word;
}
.lead {
  margin-bottom: 20px;
}
.site-wrapper {
  width: 100%;
  height: 100%;
}
.inner {
  padding: 30px;
}
h1.cover-heading {
  font-variant: small-caps;
}
.masthead-brand {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: url(brand.jpeg) no-repeat;
  background-size: cover;
  color: rgba(1, 1, 1, 0);
  white-space: nowrap;
  font-size: 10px;
}
.icon {
  background: #111;
  cursor: pointer;
  padding: 10px;
}
.icon a {
  color: #fdfdfd;
  text-decoration: none;
}
.icon a:hover {
  color: #a51f0f;
}
.cover {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .masthead-nav > li > a {
    color: #fdfdfd;
  }
  .mastfoot {
    position: absolute;
    bottom: 0;
    color: #fdfdfd;
  }
  .lead {
    font-size: 20px;
  }
  a,
  a:focus,
  a:hover {
    color: #fdfdfd;
  }
  body {
    background: url(bg-min.jpeg) no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: left;
  }
  .site-wrapper {
    color: #fdfdfd;
    display: flex;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    background: url(raster.png) repeat;
    background-color: rgba(1, 1, 1, 0.3);
    border: 2.61em solid #111;
    border-width: 2.61em 0.39em;
  }
  .site-wrapper-inner {
    margin: auto;
    width: 640px;
  }
  .masthead-brand {
    display: none;
  }
  .masthead-nav {
    height: 36px;
    float: left;
  }
  h1.cover-heading {
    border-bottom: 3px solid;
    border-bottom-color: #a51f0f;
    padding-bottom: 20px;
    font-size: 48px;
    font-weight: 700;
  }
}
